.qualify {
  p {
    color: white;
    font-size: 22px;
    text-align: center;
  }

  .savings-button {
    display: inline-block;
    // border: 1px solid white;
    background: #fc6c21;
    color: white;
    font-size: 23px;
    padding: 10px 17px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    margin: 0 10px;
  }
}

.qualify-back {
  background-color: rgba(60, 59, 59, 0.5);
}
